<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Каталог</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="modal" data-bs-target="#CreateLibraryModal" href="#">Добавить библиотеку</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<app-modal [id]="'CreateLibraryModal'">
  <span title>Добавить библиотеку</span>
  <form body #createLibrary="ngForm" (ngSubmit)="addLibrary()">
    <div class="mb-3">
      <label for="nameLibrary" class="form-label">Название</label>
      <input type="text" class="form-control" id="nameLibrary" [(ngModel)]="newLibrary.name" name="nameLibrary" #nameLibrary="ngModel" required>
      <div [hidden]="nameLibrary.valid || nameLibrary.untouched" class="alert alert-danger">
        Не указано название
      </div>
    </div>
    <div class="mb-3">
      <label for="descriptionLibrary" class="form-label">Описание</label>
      <textarea class="form-control" id="descriptionLibrary" rows="3" [(ngModel)]="newLibrary.description" name="descriptionLibrary"></textarea>
    </div>
    <div class="mb-3">
      <label for="localeLibrary" class="form-label">Местоположение</label>
      <input type="text" class="form-control" id="localeLibrary" [(ngModel)]="newLibrary.locale" name="localeLibrary" #localeLibrary="ngModel" required>
      <div [hidden]="localeLibrary.valid || localeLibrary.untouched" class="alert alert-danger">
        Не указано местоположение
      </div>
    </div>
    <div class="mb-3">
      <label for="addressLibrary" class="form-label">Адрес</label>
      <textarea class="form-control" id="addressLibrary" rows="2" [(ngModel)]="newLibrary.address" name="addressLibrary" #addressLibrary="ngModel" required></textarea>
      <div [hidden]="addressLibrary.valid || addressLibrary.untouched" class="alert alert-danger">
        Не указан адрес
      </div>
    </div>
    <div class="mb-3">
      <label for="organizationName" class="form-label">Юридическое лицо</label>
      <textarea class="form-control" id="organizationName" rows="2" [(ngModel)]="newLibrary.organizationName" name="organizationName"></textarea>
    </div>
    <!-- <div class="mb-3">
       <label for="imageLibrary" class="form-label">Загрузите фотографию</label>
       <input class="form-control" type="file" id="imageLibrary">
     </div>-->
    <div class="d-flex justify-content-between">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
      <button type="submit" class="btn btn-primary" [disabled]="nameLibrary.invalid || localeLibrary.invalid || addressLibrary.invalid" data-bs-target="#LibraryAddedModal" data-bs-toggle="modal" data-bs-dismiss="modal">Сохранить</button>
    </div>
  </form>
</app-modal>

<app-modal [id]="'LibraryAddedModal'">
  <span title>Библиотека добавлена</span>
  <p body>Библиотека <b>{{ newLibrary.name | uppercase }}</b> успешно добавлена в общий каталог.</p>
  <button footer (click)="createLibrary.reset()" type="button" class="btn btn-primary" data-bs-dismiss="modal">Закрыть</button>
</app-modal>
